<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>

      <li>
        <a id='home-nav-link' href="/developer-console/0-n/index.html"><%= vars.product_full %></a>
      </li>

      <li>
        <a href="/developer-console/0-n/release-notes.html">Release Notes</a>
      </li>

      <li>
        <a href="/developer-console/0-n/installing.html">Installing and Configuring</a>
      </li>

      <li>
        <a href="/developer-console/0-n/using-providing.html">Using <%= vars.product_short %> to Provide Services</a>
      </li>

      <li>
        <a href="/developer-console/0-n/using-provisioning.html">Using <%= vars.product_short %> to Provision Services</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
