<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>

      <li>
        <a id='home-nav-link' href="/developer-console/0-1/index.html"><%= vars.product_name %></a>
      </li>

      <li>
        <a href="/developer-console/0-1/release-notes.html">Release Notes</a>
      </li>

      <li>
        <a href="/developer-console/0-1/installing.html">Installing and Configuring</a>
      </li>

      <li>
        <a href="/developer-console/0-1/installing.html">Maintaining</a>
      </li>

      <li>
        <a href="/developer-console/0-1/using.html">Using</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
